@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke-2 {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

#projectDiv {
    -webkit-box-shadow:0 0 20px "#65ddf4"; 
    -moz-box-shadow: 0 0 20px #65ddf4; 
    box-shadow:0 0 20px #65ddf4;
}

svg #shadow {
    filter:drop-shadow(0 0 12px #65ddf4);
}


